.body {
  margin-top: 10px;
}


.tg {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 80%;
}

.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg .tg-lboi {
  border-color: inherit;
  text-align: left;
  vertical-align: middle
}

.tg .tg-9wq8 {
  border-color: inherit;
  text-align: center;
  vertical-align: middle
}

.tg .tg-c3oa {
  border-color: inherit;
  text-align: center;
  vertical-align: top
}

.tg .tg-c3ow {
  border-color: inherit;
  text-align: center;
  vertical-align: top;
  width: 30px;
}

.tg .tg-0lax {
  text-align: left;
  vertical-align: top
}

.tg .tg-0laq {
  text-align: left;
  vertical-align: top;
}

.bg{
  background-color: #8080808a;
  font-weight: 600;
}

.tg .tg-0laa {
  text-align: center;
  vertical-align: top
}